nb-sidebar {
    position: fixed;
}

nb-layout-column {
    margin-left: 16rem;
}

.main-icon {
    height: 5rem;
    width: 5rem;
    display: block;
    margin: 1rem auto 2rem;
}

app-main-menu {
    padding-bottom: 15rem;
}

.synchronization-message {
    position: sticky;
    bottom: 0.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    z-index: 1;
}
