.logo {
    width: 5rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.greetings {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

.card {
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
}
