.img-wrapper {
    padding-bottom: 100%;
    position: relative;
}

.img-wrapper img {
    position: absolute;
    padding: 1rem;
    width: 100%;
    height: auto;
}

.badge {
    position: absolute;
    height: 2rem;
    width: 2rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    z-index: 1;
}

nb-card {
    margin-bottom: 0;
}

h6 {
    margin-top: 0.7rem;
    margin-bottom: 0.2rem;
}

.application-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.application-summary {
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
