<ion-content class="ion-padding">
    <ion-grid fixed class="settings-container">
        <ion-list>

            <ion-item>
                <ion-icon name="contrast" slot="start"></ion-icon>
                <ion-label>{{ 'PAGES.SETTINGS.APPEARANCE.THEME' | translate }}</ion-label>
                <ion-select [(ngModel)]="theme" interface="popover" placeholder="Select One" (ionChange)="changeTheme($event)">
                    <ion-select-option value="light">Light</ion-select-option>
                    <ion-select-option value="dark">Dark</ion-select-option>
                </ion-select>
            </ion-item>

        </ion-list>

    </ion-grid>

</ion-content>
