.section-title {
    font-size: 2em;
    margin-top: 30px;
    margin-left: 15px;
}

.app-list {
    overflow: auto;
    white-space: nowrap;
}

.app-list__item{
    width: 350px;
    display: inline-block;
    white-space: normal;
}

.fab {

    position: fixed;
    margin-top: 142px;

    &--start {
        margin-left: -15px
    }

    &--end{
        margin-left: -15px
    }
}
