<ion-card-title class="section-title">
    {{ section?.title }}
</ion-card-title>
<div #scrollableList class="app-list" *ngIf="section.apps">

    <div class="app-list__item" *ngFor="let app of section.apps">
        <app-card [app]="app"></app-card>
    </div>

    <ion-fab class="fab fab--start" horizontal="start" slot="fixed">
        <ion-fab-button size="small" color="light" (click)="scrollBack(scrollableList)">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab class="fab fab--end" horizontal="end" slot="fixed">
        <ion-fab-button size="small" color="light" (click)="scrollFoward(scrollableList)">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</div>
