<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">

            <ion-header>
                <ion-toolbar>
                    <ion-searchbar></ion-searchbar>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>

                    <ion-item routerDirection="back" routerLink="">
                        <ion-icon slot="start" name="home"></ion-icon>
                        <ion-label>
                            {{ 'PAGES.HOME.TITLE' | translate }}
                        </ion-label>
                    </ion-item>

                    <ion-list-header>
                        <ion-label>{{ 'PAGES.MAIN.CATEGORIES' | translate }}</ion-label>
                    </ion-list-header>

                    <ion-item detail="false" *ngFor="let category of categories" routerLink="search">
                        <ion-label>
                            {{ category.name | translate }}
                        </ion-label>
                    </ion-item>

                </ion-list>
            </ion-content>
        </ion-menu>

        <ion-router-outlet main></ion-router-outlet>

    </ion-split-pane>
</ion-app>
