<div *ngIf="loading && isIndefinite" [nbSpinner]="true" class="spinner">
    &nbsp;
</div>

<button
    nbButton
    hero
    shape="semi-round"
    [disabled]="!buttonEnabled"
    [status]="buttonStatus">
    <nb-icon *ngIf="shouldShowButtonIcon" [icon]="buttonIcon"></nb-icon>

    {{ buttonText | translate }}
</button>

<nb-progress-bar
    *ngIf="loading && (!isIndefinite)"
    class="progress-bar"
    [value]="installationPercentage"
    size="tiny"
    status="primary"
    [displayValue]="true">
</nb-progress-bar>


