<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="appearance">
                <ion-icon name="color-palette"></ion-icon>
                <ion-label>Appearance</ion-label>
            </ion-tab-button>

            <!--<ion-tab-button tab="store-setup">
                <ion-icon name="construct"></ion-icon>
                <ion-label>Store setup</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="account">
                <ion-icon name="person"></ion-icon>
                <ion-label>Account</ion-label>
            </ion-tab-button> -->

            <ion-tab-button tab="about">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>About</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
