.container {
    max-width: 600px;
}

.bugs-section-banner {
    height: 150px;
    background: url("../../../assets/banner-bugs.jpg");
    background-position: center;
    background-size: cover;
}

.community-section-banner {
    height: 150px;
    background: url("../../../assets/community-banner.png");
    background-position: center;
    background-size: cover;
}

.coding-section-banner {
    height: 150px;
    background: url("../../../assets/programming-pattern.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.donating-section-banner {
    height: 150px;
    background: url("../../../assets/charity-pattern.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
