<ion-content class="ion-padding">
    <ion-grid>
        <ion-row fixed class="ion-justify-content-center">
            <img src="assets/icon.png" alt="" srcset="">
        </ion-row>
        <ion-row class="ion-justify-content-center" fixed>
            <h1>App Outlet</h1>
        </ion-row>
        <ion-row class="ion-justify-content-center" fixed>
            <h3>{{ appVersion }}</h3>
        </ion-row>
        <ion-row class="ion-justify-content-center" fixed>
            <p>
                {{ 'GENERAL.APP_SHORT_DESCRIPTION' | translate }}
            </p>
        </ion-row>
        <ion-row class="ion-justify-content-center" fixed>
            <h3>{{ 'PAGES.ABOUT.AUTHORS' | translate }}</h3>
        </ion-row>
        <ion-row *ngFor="let author of authors" class="ion-justify-content-center" fixed>
            <a href="mailto:{{author.email}}">{{ author.name }}</a>
        </ion-row>
    </ion-grid>
</ion-content>
