<button nbButton ghost (click)="goBack()" class="back-button">
    <nb-icon icon="arrow-ios-back-outline"></nb-icon>
    {{ 'GENERAL.BACK' | translate }}
</button>
<div class="row">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="col-4">
                <nb-card>
                    <img
                        class="application-icon"
                        [src]="
                            application?.icon ||
                            'assets/icon/icon-placeholder.png'
                        "
                        alt="{{ application?.name }} icon"
                    />
                </nb-card>
            </div>
            <div class="col-8">
                <p class="subtitle package-type">
                    {{ 'GENERAL.' + application?.packageType | translate }}
                </p>
                <h1>{{ application?.name }}</h1>
                <span class="version">{{ application?.version }}</span>
                <p>{{ application?.summary }}</p>
                <button
                    nbButton
                    hero
                    appearance="hero"
                    shape="semi-round"
                    status="success"
                >
                    <nb-icon icon="download-outline"></nb-icon>
                    {{ 'PAGES.APP_DETAIL.INSTALL' | translate }}
                </button>
            </div>
        </div>

        <app-gallery [images]="application?.screenshots"></app-gallery>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <nb-card>
            <nb-card-body [innerHTML]="application?.description"></nb-card-body>
        </nb-card>
    </div>
    <div class="col-4">
        <nb-card>
            <nb-card-body>
                <p class="developer" *ngIf="application?.developer">
                    {{
                        'PAGES.APP_DETAIL.DEVELOPED_BY' | translate: application
                    }}
                </p>
                <button
                    nbButton
                    ghost
                    *ngIf="application?.homepage"
                    (click)="openUrl(application?.homepage)"
                >
                    <nb-icon icon="globe-outline"></nb-icon>
                    {{ 'PAGES.APP_DETAIL.PROJECT_HOMEPAGE' | translate }}
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>
