<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="{{ 'GENERAL.BACK' | translate }}" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="globe"></ion-icon>
                {{ 'PAGES.APP_DETAIL.STORE_PAGE' | translate }}
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" mode="md" name="download"></ion-icon>
                {{ 'PAGES.APP_DETAIL.INSTALL' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>