<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="{{ 'GENERAL.BACK' | translate }}" defaultHref=""></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            {{ statusText | translate}}
            <ion-spinner [hidden]="!shouldShowLoading"></ion-spinner>
            <ion-button [hidden]="!shouldShowRunButton" (click)="run()">
                <ion-icon slot="start" name="play"></ion-icon>
                {{ 'PAGES.APP_DETAIL.RUN' | translate }}
            </ion-button>
            <ion-button [hidden]="!shouldShowUninstallButton" color="danger" (click)="uninstall()">
                <ion-icon slot="start" name="trash"></ion-icon>
                {{ 'PAGES.APP_DETAIL.UNINSTALL' | translate }}
            </ion-button>
            <ion-button [hidden]="!shouldShowInstallButton" fill="solid" (click)="install()">
                <ion-icon slot="start" mode="md" name="download"></ion-icon>
                {{ 'PAGES.APP_DETAIL.INSTALL' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div [hidden]="!loading" class="main-loader">
        <ion-row class="ion-justify-content-center">
            <ion-spinner></ion-spinner>
        </ion-row>
    </div>

    <div [hidden]="loading">
        <ion-grid fixed>
            <ion-row class="ion-justify-content-center">

                <ion-col size="3" style="align-self: auto">
                    <div>
                        <img class="app__icon " [src]="app?.icon || 'assets/app-icon-placeholder.png'" alt="" srcset="">
                    </div>
                </ion-col>

                <ion-col>

                    <div class="ion-padding-start">

                        <ion-card-subtitle>
                            {{ app?.type }}
                        </ion-card-subtitle>
                        <ion-card-title class="app__name">
                            {{ app?.name }}<sup class="app__name__version"> {{ app?.version }}</sup>
                        </ion-card-title>

                        <h4 *ngIf="app?.developer">
                            <ion-icon name="person"></ion-icon>
                            {{ app?.developer }}
                        </h4>

                        <p class="app__short-description">{{ app?.shortDescription }}</p>

                        <div *ngIf="app?.categories">
                            <ion-chip *ngFor="let category of app?.categories" color="primary">
                                <ion-icon name="pricetag"></ion-icon>
                                <ion-label>{{ category }}</ion-label>
                            </ion-chip>
                        </div>

                    </div>
                </ion-col>
            </ion-row>


        </ion-grid>

        <div *ngIf="app?.screenshots">
            <app-gallery [screenshots]="app?.screenshots"></app-gallery>
        </div>

        <ion-grid fixed>

            <ion-card>
                <ion-card-content>
                    <div #fullDescriptionContainer class="app__full-description"></div>
                </ion-card-content>


                <ion-row>

                    <ion-col *ngIf="app?.homepage">
                        <ion-button class="ion-text-wrap" fill="clear" expand="block" (click)="goToLink(app?.homepage)">
                            <ion-icon slot="start" name="globe"></ion-icon>
                            {{ 'PAGES.APP_DETAIL.PROJECT_HOMEPAGE' | translate }}
                        </ion-button>
                    </ion-col>

                    <ion-col *ngIf="app?.storeUrl">
                        <ion-button class="ion-text-wrap" fill="clear" expand="block" (click)="goToLink(app?.storeUrl)">
                            <ion-icon slot="start" name="basket"></ion-icon>
                            {{ 'PAGES.APP_DETAIL.STORE_PAGE' | translate }}
                        </ion-button>
                    </ion-col>

                    <ion-col *ngIf="app?.bugtrackerUrl">
                        <ion-button class="ion-text-wrap" fill="clear" expand="block" (click)="goToLink(app?.bugtrackerUrl)">
                            <ion-icon slot="start" name="bug"></ion-icon>
                            {{ 'PAGES.APP_DETAIL.REPORT_ISSUE' | translate }}
                        </ion-button>
                    </ion-col>

                    <ion-col *ngIf="app?.donationUrl">
                        <ion-button fill="clear" class="ion-text-wrap" expand="block" (click)="goToLink(app?.donationUrl)">
                            <ion-icon slot="start" name="cash"></ion-icon>
                            {{ 'PAGES.APP_DETAIL.DONATE' | translate }}
                        </ion-button>
                    </ion-col>
                </ion-row>

            </ion-card>
        </ion-grid>
    </div>




</ion-content>
