<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="{{ 'GENERAL.BACK' | translate }}" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" mode="md" name="download"></ion-icon>
                {{ 'PAGES.APP_DETAIL.INSTALL' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid fixed>
        <ion-row>
            <div class="ion-padding-end">
                <img class="app__icon" [src]="app?.icon || 'assets/app-icon-placeholder.png'" alt="" srcset="">
            </div>
            <div class="ion-padding-start">
                <ion-card-subtitle>
                    {{ app?.type }}
                </ion-card-subtitle>
                <ion-card-title class="app__name">
                    {{ app?.name }}
                </ion-card-title>

                <p class="app__short-description">{{ app?.shortDescription }}</p>

                <div *ngIf="app?.categories">
                    <ion-chip *ngFor="let category of app?.categories" color="primary">
                        <ion-icon name="pricetag"></ion-icon>
                        <ion-label>{{ category }}</ion-label>
                    </ion-chip>
                </div>

            </div>
        </ion-row>


    </ion-grid>

    <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let screenshot of app?.screenshots">
            <ion-card >
                <img [src]="screenshot">
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-grid fixed>

        <ion-card>
            <ion-card-content>

                {{ app?.fullDescription }}

                <div class="ion-padding-top">
                    <ion-button fill="outline" mode="md">
                        <ion-icon name="globe" slot="start"> </ion-icon>Store page
                    </ion-button>
                </div>

            </ion-card-content>
        </ion-card>
    </ion-grid>



</ion-content>
